name: CI-Pipeline
permissions:
  contents: read
  checks: write
  pull-requests: write
on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
      - uses: actions/checkout@v4
      - name: First Composite Action
        uses: anujrajkumar/template/.github/actions/custom@main
        with:
          run_condition: 'true'
          
      - name: Second Composite Action
        uses: anujrajkumar/template/.github/actions/custom2@main
        with:
          run_condition: 'true'
          
      - run: echo "This is invalid"
