name: CI-Pipeline
permissions:
  contents: read
  checks: write
  pull-requests: write
on:
  workflow_dispatch:
    inputs:
      ref:
        description: 'Git ref (branch, tag, or commit SHA)'
        required: false
        default: ""
  push:
    branches:
      - master

jobs:
  hello_world_job:
    name: A job to say hello
    uses: anujrajkumar/template/.github/workflows/new.yaml@v0.0.19
