name: CI-Pipeline
permissions:
  contents: read
  checks: write
  pull-requests: write
on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
      - uses: actions/checkout@v4
      - id: foo
        uses: anujrajkumar/template/custom@main
        with:
          run_condition: 'true'
          
      - name: Second Composite Action
        uses: anujrajkumar/template/custom2/action.yaml@main
          
      - run: echo "This is invalid"
