name: Push Direct to Dev

on:
  workflow_dispatch:

jobs:
  push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          persist-credentials: false # we'll use the app instead

      - name: Authenticate as GitHub App
        id: auth
        uses: tibdex/github-app-token@v2
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.PRIVATE_KEY }}
          installation_id: ${{ secrets.INSTALLATION_ID }}

      - name: Configure Git
        run: |
          git config user.name "prypco-deploy-bot[bot]"
          git config user.email "prypco-deploy-bot[bot]@users.noreply.github.com"

      - name: Make a change
        run: |
          echo "Hello $(date)" >> hello.txt
          git add hello.txt
          git commit -m "Bot commit"

      - name: Push directly to dev
        run: git push origin HEAD:master
        env:
          GITHUB_TOKEN: ${{ steps.auth.outputs.token }}
