name: Push to Dev Branch

on:
  workflow_dispatch:

permissions:
  pull-requests: write
  contents: write

jobs:
  push-dev:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          persist-credentials: true   # important
          
      - name: Use of Custom action
        uses: anujrajkumar/template/.github/actions/custom@v0.0.30

      - name: Generate GitHub App token
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}

      - name: Configure git
        run: |
          git config user.name "my-github-app[bot]"
          git config user.email "12345+my-github-app[bot]@users.noreply.github.com"
          git remote set-url origin https://x-access-token:${{ steps.app-token.outputs.token }}@github.com/${{ github.repository }}

      - name: Make changes
        run: |
          echo "new file $(date)" >> myfile.txt
          git add myfile.txt
          git commit -m "Auto commit from GitHub App"
          git push origin master
