name: Callback Frontend Deploy Pipeline

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Target branch"
        required: true
        type: string
  push:
    branches:
      - master
      - master2
      - master3

jobs:
  set-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - id: set-matrix
        run: |
          echo '{
            "include": [
              { "env": "dev", "branch": "master", "storageAccountName": "devstorageaccount", "frontdoorName": "dev-frontdoor", "frontdoorRG": "dev-rg", "endpointName": "dev-endpoint", "domainName": "dev.domain.com" },
              { "env": "staging", "branch": "master2", "storageAccountName": "stagingstorageaccount", "frontdoorName": "staging-frontdoor", "frontdoorRG": "staging-rg", "endpointName": "staging-endpoint", "domainName": "staging.domain.com" },
              { "env": "prod", "branch": "master3", "storageAccountName": "prodstorageaccount", "frontdoorName": "prod-frontdoor", "frontdoorRG": "prod-rg", "endpointName": "prod-endpoint", "domainName": "prod.domain.com" }
            ]
          }' > matrix.json
          echo "matrix=$(cat matrix.json)" >> $GITHUB_OUTPUT

  build-upload:
    needs: set-matrix
    if: |
      (github.event_name == 'workflow_dispatch' && github.event.inputs.branch == fromJson(needs.set-matrix.outputs.matrix).include[matrix.index].branch) ||
      (github.event_name == 'push' && github.ref_name == fromJson(needs.set-matrix.outputs.matrix).include[matrix.index].branch)
    strategy:
      matrix: ${{ fromJson(needs.set-matrix.outputs.matrix) }}
    uses: anujrajkumar/template/.github/workflows/new.yaml@main
    with:
      storageAccountName: ${{ matrix.storageAccountName }}
      sourcePath: 'dist'

  cleanup:
    needs: build-upload
    strategy:
      matrix: ${{ fromJson(needs.set-matrix.outputs.matrix) }}
    if: |
      (github.event_name == 'workflow_dispatch' && github.event.inputs.branch == matrix.branch) ||
      (github.event_name == 'push' && github.ref_name == matrix.branch)
    uses: anujrajkumar/template/.github/workflows/blank.yml@main
    with:
      storageAccountName: ${{ matrix.storageAccountName }}



